/* 	CSS
	Sahir Jaggi
	May 2015
*/

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
/* Typography
------------------------------------------------------------ */

* {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: left;
    line-height: 120%;
    color: #3F3F3F;
}
/* Links
------------------------------------------------------------ */

a:link,
a:visited {
    color: #808080;
    text-decoration: none;
}

a:hover {
    color: #4BC4F2;
    text-decoration: none;
}

a:hover h6 {
    color: #4BC4F2;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}

a.current {
    color: #000000;
}

/* Links
------------------------------------------------------------ */
img#trash {
    height: 16px;
    width: auto;
    margin: 0;
    padding: 0;
}

/* Header
------------------------------------------------------------ */

.header {
    margin: 0;
    padding: 2px 0 12px;
    height: 36px;
    position: relative;
}

.logo {
    margin-left: 20px;
    font-size: 120%;
}

.menu li {
    list-style: none;
    display: inline;
    margin: 0 10px;
    float: right;
    padding: 0 10px;
}
/* Body
------------------------------------------------------------ */

body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Search
------------------------------------------------------------ */

.searchBar {
    margin: 0;
    height: 48px;
    background-color: #5291AD;
}

.searchForm {
    position: relative;
    margin: 0 auto;
    width: 48vw;
}

.searchField {
    height: 28px;
    width: 42vw;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 2px;
    border-width: 1px;
    text-indent: 16px;
    float: left;
    margin: 10px 0 0;
}

.button {
    color: white;
    background-color: #2E5160;
    height: 28px;
    width: 6vw;
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 16px;
    border-radius: 2px;
    border-width: 0;
    text-align: center;
    float: right;
    margin: 10px 0 0;
}

.nix {
    width: 20vw;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-top: 10px;
    text-align: center;
}

.nix:hover {
    background-color: pink;
}
/* Messages
------------------------------------------------------------ */

ul.messages {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.messages li {
    list-style-type: none;
    height: 14px;
    background-color: lightpink;
    font-size: 92%;
    padding: 10px 0;
    margin: 0px;
    text-align: center;
}

.message {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}
/* Contacts
------------------------------------------------------------ */

ul.contacts {
    text-align: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.contacts li {
    list-style-type: none;
    height: 16px;
    font-size: 92%;
    padding: 10px 0;
    margin: 0px;
}

.contact {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.info li {
    list-style: none;
    display: inline;
    margin: 0 10px;
    float: left;
    padding: 0 10px;
}

.name,
.email,
.mobile,
.co {
    width: 16vw;
}

.name {
    font-weight: 700;
}

.contact:hover {
    background-color: azure;
}
/* Contact Profile 
------------------------------------------------------------ */

.fullcontact {
    width: 320px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}

.contactinfo {
    overflow: auto;
}

.contactname {
    font-size: 160%;
    padding: 0 10px 0;
}

.contactinfo li {
    list-style-type: none;
    height: 12px;
    font-size: 92%;
    padding: 12px 0;
    margin: 0px;
}

.infoleft {
    float: left;
    margin: 0;
    padding: 0 10px 0;
}

.inforight {
    float: right;
    margin: 0;
    padding: 0 10px 0;
}

div.editbutton {
    background-color: #5291AD;
    color: white;
    text-align: center;
    height: 20px;
    padding: 10px 0;
    margin: 10px 0 0;
}

div#expand-one {
    background-color: #5291AD;
    color: white;
    text-align: center;
    height: 20px;
    padding: 10px 0;
    margin: 10px 0;
}

div#content-one {
    visibility: hidden;
}
/* Contact Form 
------------------------------------------------------------ */

.contact_form {
    margin: 0;
    padding: 0 10px 0;
}

.contact_form li {
    list-style-type: none;
    margin: 10px 0 0;
}

.contact_form li.post_error {
    margin: 0;
}

.form_title {
    font-size: 160%;
    padding: 0 10px 0;
}

.form_field {
    width: 100%;
}

.contact_button {
    color: white;
    background-color: #2E5160;
    height: 28px;
    width: 120px;
    border-radius: 2px;
    border-width: 0;
    text-align: center;
    margin: 10px 0 0;
}

.fullform {
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    width: 320px;
}
/* Modal
------------------------------------------------------------ */

.overlay {
    visibility: hidden;
    background-color: rgba(125, 125, 125, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

div.modal {
    width: 420px;
    height: 540px;
    margin: 20px auto;
    background-color: white;
    color: white;
    opacity: 1;
    border: none;
    padding: 0;
    text-align: center;
}

ul.iframe_header {
    background-color: lightcyan;
    width: 420px;
    height: 40px;
    margin: 0;
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
}

ul.iframe_header li {
    list-style: none;
    display: inline;
    padding: 0 20px;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
    width: 360px;
    height: 460px;
    overflow: auto;
}