{% extends "frame_base.html" %} {% block content %}
<div class="fullform">
    <form action="" method="post" name="add">
        {{ form.hidden_tag() }}
        <ul class="contact_form">
            <li>
                First Name:
                <br> {{ form.firstname(class_="form_field") }}
                <br> {% for error in form.firstname.errors %}
                <span style="color: red;">[{{ error }}]</span> {% endfor %}
                <br>
            </li>
            <li class="post_error">
                Last Name:
                <br> {{ form.lastname(class_="form_field") }}
            </li>
            <li>
                Email:
                <br> {{ form.email(class_="form_field") }}
            </li>
            <li>
                Mobile:
                <br> {{ form.mobile(class_="form_field") }}
            </li>
            <li>
                Work:
                <br> {{ form.work(class_="form_field") }}
            </li>
            <li>
                Home:
                <br> {{ form.home(class_="form_field") }}
            </li>
            <li>
                Company:
                <br> {{ form.company(class_="form_field") }}
            </li>
            <li>
                <input class="contact_button" type="submit" value="Save Changes">
            </li>
        </ul>
    </form>
</div>
{% endblock %}