{% extends "base.html" %} {% block content %}
<div class="content">
    <ul class="contacts">
        {% for contact in contacts %}
        <a href="{{ url_for('list_item', contactid=contact.id )}}">
            <li class="contact">
                <ul class="info">
                    <li class="name">{{ contact }}</li>
                    <li class="email">{{ contact.email }}</li>
                    <li class="phone">(212) 588-5102</li>
                    <li class="company">Columbia University</li>
                </ul>
            </li>
        </a>
        {% endfor %}
    </ul>
</div>
{% endblock %}