{% extends "frame_base.html" %} {% block content %}
<div class="fullcontact">
    <div class="contactinfo">
        <h1 class="contactname">{{ contact }}</h1>
        <ul class="infoleft">
            {% for label in labels %}
            <li class="label">{{ label }} </li>
            {% endfor %}
        </ul>
        <ul class="inforight">
            {% for attribute in attributes %}
            <li class="attribute">{{ attribute }}</li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('edit', contactid=contact.id )}}">
        <div class="editbutton">EDIT</div>
    </a>
</div>

{% endblock %}